@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Poppins:wght@100;600&family=Roboto:wght@100;400&display=swap');
.thin-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: #f3f5f7;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #D8D9DD;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #D8D9DD;
  }
body{
  overflow-x: hidden;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-roboto{
font-family: 'Roboto', sans-serif;
}
.font-josefin {
  font-family: 'Josefin Sans', sans-serif;
}

