@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
.thin-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: #f3f5f7;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #D8D9DD;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #D8D9DD;
  }
body{
  overflow-x: hidden;
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}
.font-roboto{
font-family: 'Roboto', sans-serif !important;
}
.font-josefin {
  font-family: 'Josefin Sans', sans-serif !important
}

